/*
Custom Css
*/

.bg-aboutus{ 
    background: rgb(213,63,140);
    background: linear-gradient(60deg, rgba(213,63,140,1) 48%, rgba(2,0,36,1) 100%);
}

.fa-building-columns{
    content: "\f19c"
}
.fa-building-columns::before{
    content: "\f19c"
} 