/* Custom Css */

/* ICONS */

.fa-building-columns {
    content: "\f19c"
}

.fa-building-columns::before {
    content: "\f19c"
}

.fa-location-dot {
    content: "\f3c5"
}

.fa-location-dot::before {
    content: "\f3c5"
}

/* END ICONS */
